# Ignore local VS Code configuration
.vscode

# Ignore output of PetIBM simulation
forces-*.txt
grid.h5
iterations-*.txt
.logamgx
logs
solution

# Ignore Python compiled files
__pycache__

# Ignore Singularity images pulled locally
images

# Ignore copy of figures (to be included in thesis)
figures_thesis

